{% extends 'LMApp/index.html' %}

{% load static %}    

{% block titulo %} Rutinas {% endblock titulo %}
{% block titulo2 %} Creación de rutinas {% endblock titulo2 %}
{% block titulo3 %} Aquí podras crear tus rutinas {% endblock titulo3 %}
{% block subtitulo %} ¡Crea las mejores rutinas! {% endblock subtitulo %}

{% block main %}
<br>
<h5><strong>Agrega una rutina:</strong></h5><br>
<form action="" method="POST">
    {% csrf_token %}
    <table>
        {{ formulario.as_table }}
    </table>
    <input type="submit" value="Enviar">
</form><br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock main %}